{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id=message-view>
        {% if message %}
            <div class="alert alert-info justify-content-center" role="alert">
                {{ message }}
             </div>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
    <div id=addpost-view>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <form role="form" action="{% url 'new_post' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                                <textarea class="form-control" name="content" placeholder="Say your thing" rows="3">{% if content %}{{ content }}{% endif %}</textarea>
                        </div>
                        <input class="btn btn-primary float-right" type="submit" value="Post!">
                    </form>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>

    </div>
    {% endif %}

    <div id="posts-view">
    </div>
{% endblock %}

{% block script %}
    {{ request.user.id|json_script:"user_id" }}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}