{% load static %}
<div class="container-fluid">
	{% for post in posts %}
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" id="user-info">
                        <strong>{{ post.author_name }}</strong> <a href="{% url 'user' profile_id=post.author_id %}" class="text-muted">{{ post.author_username }}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="post-content">
                        {{ post.content }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right" id="timestamp">
                        {{ post.timestamp }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" id="likes">
                        {{ post.likes_count }} <i class="fa fa-heart"></i><i class="fa fa-heart-o"></i>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-outline-secondary btn-md" id="edit-post">
                            <i class="fa fa-edit"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    {% endfor %}

	<div class="row">
        <div class="col-md-3">
        </div>
		<div class="col-md-6">
			<nav>
				<ul class="pagination justify-content-center">
					<li class="page-item">
						<a class="page-link" href="#">Previous</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">3</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">4</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">5</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">Next</a>
					</li>
				</ul>
			</nav>
		</div>
        <div class="col-md-3">
        </div>
	</div>
</div>

{% block script %}
    {{ request.user.id|json_script:"user_id" }}
    <script src="{% static 'network/post.js' %}"></script>
{% endblock %}