{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id=message-view>
    </div>

    <div id=profile-view>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <div class="row">
                        
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 id="name">
                                {{ profile_info.name }}
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="text-muted" id="username">
                                {{ profile_info.username }}
                            </h5>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-6" id="follows">
                            Following: {{ profile_info.following }} - Followers: {{ profile_info.followers }}
                        </div>
                        <div class="col-md-6 text-right">
                            {% if user.is_authenticated and user.id != profile_info.id  %}
                                <button type="button" class="btn btn-info" id="follow-btn">
                                    (Un)Follow
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>

    </div>

    <div id="posts-view">
        {% include "network/posts.html" with posts=posts %}
    </div>
{% endblock %}


{% block script %}
    {{ profile_info.id|json_script:"profile_id" }}
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}
